In [1]:
# Let's first install the selenium library
!pip install selenium

Requirement already satisfied: selenium in c:\users\shrihan manit\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shrihan manit\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shrihan manit\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shrihan manit\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\shrihan manit\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\shrihan manit\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\shrihan manit\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shrihan manit\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shrihan manit\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# Let's now import all the required libraries

import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Shrihan Manit\OneDrive\Desktop\chromedriver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [4]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [5]:
# Entering designation as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
# Entering location as required
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
# Creating empty list to store data the scraped data
job_title = []
job_location =[]
company_name = []
experience_required =[]

In [10]:
# Scraping Job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'HCL hiring For Data Analyst',
 'Programmer / Data Analyst',
 'Data Analyst - Python/Artificial Intelligence',
 'Customer Data Analyst',
 'Sr. Data Analyst',
 'Data Analyst - Decision Science',
 'Immediate opening For Data Analyst @ Bangalore',
 'Associate Data Analyst',
 'Associate Data Analyst']

In [11]:
# Scraping Job Location from the given page
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Delhi / NCR, Mumbai (All Areas), Karnataka, Tamil Nadu',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Delhi / NCR\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [12]:
# Scraping Company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['TeamLease',
 'HCL Technologies',
 'Frost & Sullivan',
 'iMindYourBusiness',
 'Oracle',
 'Global Indian School Education Services',
 'Jana Small Finance Bank',
 'TeamLease',
 'Optum',
 'Optum']

In [13]:
# Scraping Job Experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
experience_required

['5-8 Yrs',
 '3-8 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '1-3 Yrs',
 '6-11 Yrs',
 '3-8 Yrs',
 '4-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs']

In [14]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [15]:
# Creating the dataframe from above data
df = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,HCL hiring For Data Analyst,"Bangalore/Bengaluru, Pune, Chennai",HCL Technologies,3-8 Yrs
2,Programmer / Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Frost & Sullivan,3-7 Yrs
3,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",iMindYourBusiness,0-2 Yrs
4,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
5,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
6,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs
7,Immediate opening For Data Analyst @ Bangalore,Bangalore/Bengaluru,TeamLease,4-6 Yrs
8,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
9,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [16]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [17]:
# Entering "Data Scientist" in skills/designations/companies
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [18]:
# Entering location as Bangalore
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [21]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [22]:
# Creating empty list to store data the scraped data
job_title = []
job_location =[]
company_name = []

In [23]:
# Scraping Job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Job Opportunity on Data Science_ Python with Techmahindra',
 'Assistant Manager - Data Science',
 'Analystics & Modeling Specialist',
 'Hiring For DATA Scientist @ NTT DATA Business Solution India',
 'Data Scientist/AIML Engineer',
 'Data Science Consultant',
 'Data Scientist',
 'Data Scientist',
 'Lead ML Scientist',
 'Tcs Hiring For Data Scientist']

In [24]:
# Scraping Job Location from the given page
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Pune, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Noida, Nagpur',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru, Chennai, Mumbai (All Areas)']

In [25]:
# Scraping Company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['Tech Mahindra',
 'CitiusTech',
 'Accenture',
 'NTT DATA Business Solutions Private Limited',
 'upGrad',
 'ZS Associates India Pvt Ltd',
 'GlobalLogic',
 'GlobalLogic',
 'Fractal Analytics',
 'TATA CONSULTANCY SERVICES (TCS)']

In [26]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [27]:
# Creating the dataframe from above data
df = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
4,Data Scientist/AIML Engineer,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",upGrad
5,Data Science Consultant,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram",ZS Associates India Pvt Ltd
6,Data Scientist,"Bangalore/Bengaluru, Noida, Nagpur",GlobalLogic
7,Data Scientist,Bangalore/Bengaluru,GlobalLogic
8,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
9,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [28]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [29]:
# Entering "Data Scientist" in skills/designations/companies
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [30]:
# Entering location as Bangalore
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [31]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [32]:
# Since job_location is Delhi/NCR a single element applied absolute XPATH
job_location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[13]/div[2]/div[2]/label/p/span[1]")
job_location.click()

In [35]:
# Since salary is 3-6 Lakhs a single element applied absolute XPATH
salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [36]:
# Creating empty list to store data the scraped data
job_title = []
job_location =[]
company_name = []
experience_required =[]

In [37]:
# Scraping Job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Data Scientist / Chat-bot Developer',
 'Lead Data Scientist',
 'Data Scientist - Predictive Analytics',
 'Data Scientist For Healthcare Product team',
 'Data Scientist - Engine Algorithm',
 'Data Scientist',
 'Data Scientist']

In [38]:
# Scraping Job Location from the given page
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Noida, Nagpur, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Noida(Sector-59 Noida)\n(WFH during Covid)',
 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Noida']

In [39]:
# Scraping Company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['GlobalLogic',
 'Boston Consulting Group',
 'Optum',
 'Big Seo Buzz',
 'R Systems International',
 'Confidential',
 'SECUREKLOUD TECHNOLOGIES',
 'Primo Hiring',
 'Feedback Infra',
 '4i Odc']

In [40]:
# Scraping Job Experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
experience_required

['8-10 Yrs',
 '2-5 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '7-10 Yrs',
 '1-6 Yrs',
 '2-7 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '2-4 Yrs']

In [41]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [42]:
# Creating the dataframe from above data
df = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
3,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
4,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
5,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
6,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
9,Data Scientist,Noida,4i Odc,2-4 Yrs